---
import { Image } from 'astro:assets'
import InlineSvg from '../utils/InlineSvg.astro'
const { logo, name, menu } = Astro.props
const currentPath = Astro.url.pathname
---

<header class="flex flex-wrap md:justify-start md:flex-nowrap z-50 w-full border-b border-base-200">
  <nav
    class="relative max-w-[85rem] w-full mx-auto md:flex md:items-center md:justify-between md:gap-3 py-2 px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center gap-x-1">
      <a
        class="flex-none font-semibold text-xl focus:outline-hidden focus:opacity-80 max-h-[90px]"
        href="/"
        aria-label={name}>
        {
          logo?.filename && logo.filename.endsWith('.svg') && (
            <InlineSvg src={logo.filename} class="pure w-64 " innerclass="h-[90px]" />
          )
        }
        {
          logo?.filename && !logo.filename.endsWith('.svg') && (
            <Image
              src={logo.filename}
              alt={name}
              class="pure max-h-[90px] h-auto w-auto max-w-64"
              layout="constrained"
              inferSize
            />
          )
        }
      </a>

      <!-- Collapse Button -->
      <button
        type="button"
        class="hs-collapse-toggle md:hidden relative size-9 flex justify-center items-center font-medium text-sm rounded-lg border border-base-content text-base-content hover:bg-base-content hover:text-base-300 focus:outline-hidden focus:bg-base-content focus:text-base-300 disabled:opacity-50 disabled:pointer-events-none"
        id="hs-header-base-collapse"
        aria-expanded="false"
        aria-controls="hs-header-base"
        aria-label="Ouvre/Ferme le menu de navigation"
        data-hs-collapse="#hs-header-base">
        <svg
          class="hs-collapse-open:hidden size-4"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round">
          <line x1="3" x2="21" y1="6" y2="6"></line><line x1="3" x2="21" y1="12" y2="12"></line><line
            x1="3"
            x2="21"
            y1="18"
            y2="18">
          </line>
        </svg>
        <svg
          class="hs-collapse-open:block shrink-0 hidden size-4"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round">
          <path d="M18 6 6 18"></path><path d="m6 6 12 12"></path>
        </svg>
        <span class="sr-only">Ouvre/Ferme le menu de navigation</span>
      </button>
    </div>

    <div
      id="hs-header-base"
      class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow md:block bg-base-100 relative z-50"
      aria-labelledby="hs-header-base-collapse">
      <div
        class="overflow-hidden overflow-y-auto max-h-[75vh] [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-base-content [&::-webkit-scrollbar-thumb]:bg-base-content">
        <div class="py-2 md:py-0 flex flex-col md:flex-row md:items-center gap-0.5 md:gap-1">
          <div class="grow">
            <ul class="flex flex-col md:flex-row md:justify-end md:items-center gap-0.5 md:gap-4">
              {
                menu.map((item) => {
                  if (item.submenu.length > 0) {
                    return (
                      <div class="hs-dropdown [--strategy:static] md:[--strategy:fixed] [--adaptive:none] md:[--adaptive:adaptive] [--is-collapse:true] md:[--is-collapse:false]">
                        <button
                          id="hs-header-base-dropdown"
                          type="button"
                          class="hs-dropdown-toggle w-full p-2 flex items-center text-base-content hover:bg-base-content hover:text-base-300 rounded-lg focus:outline-hidden focus:bg-base-content focus:text-base-300"
                          aria-haspopup="menu"
                          aria-expanded="false"
                          aria-label="Sous-menu">
                          {item.name}
                          <svg
                            class="hs-dropdown-open:-rotate-180 md:hs-dropdown-open:rotate-0 shrink-0 size-4 ms-auto md:ms-1"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round">
                            <path d="m6 9 6 6 6-6" />
                          </svg>
                        </button>

                        <div
                          class="hs-dropdown-menu transition-[opacity,margin] duration-[0.1ms] md:duration-[150ms] hs-dropdown-open:opacity-100 opacity-0 relative w-full md:w-52 hidden z-10 top-full ps-7 md:ps-0 md:bg-base-300 md:rounded-lg md:shadow-md before:absolute before:-top-4 before:start-0 before:w-full before:h-5 md:after:hidden after:absolute after:top-1 after:start-4.5 after:w-0.5 after:h-[calc(100%-4px)] after:bg-accent"
                          role="menu"
                          aria-orientation="vertical"
                          aria-labelledby="hs-header-base-dropdown">
                          <div class="py-1 md:px-1 space-y-0.5">
                            {item.submenu.map((subitem) => {
                              if (subitem.slug === currentPath) {
                                return (
                                  <div>
                                    <a
                                      href={subitem.slug}
                                      aria-current="page"
                                      class="p-2 flex items-center bg-base-300 underline decoration-accent text-base-content hover:bg-base-300 rounded-lg focus:outline-hidden focus:bg-base-content focus:text-base-300">
                                      {subitem.name}
                                    </a>
                                  </div>
                                )
                              } else {
                                return (
                                  <div>
                                    <a
                                      href={subitem.slug}
                                      class="p-2 flex items-center text-base-content hover:bg-base-content hover:text-base-300 rounded-lg focus:outline-hidden focus:bg-base-content focus:text-base-300">
                                      {subitem.name}
                                    </a>
                                  </div>
                                )
                              }
                            })}
                          </div>
                        </div>
                      </div>
                    )
                  } else {
                    if (item.slug === currentPath) {
                      return (
                        <li>
                          <a
                            href={item.slug}
                            aria-current="page"
                            class="p-2 flex items-center underline decoration-4 decoration-accent text-base-content hover:bg-base-300 rounded-lg focus:outline-hidden focus:bg-base-content focus:text-base-300">
                            {item.name}
                          </a>
                        </li>
                      )
                    } else {
                      return (
                        <li>
                          <a
                            href={item.slug}
                            class="p-2 flex items-center text-base-content hover:bg-base-content hover:text-base-300 rounded-lg focus:outline-hidden focus:bg-base-content focus:text-base-300">
                            {item.name}
                          </a>
                        </li>
                      )
                    }
                  }
                })
              }
            </ul>
          </div>

          <div class="my-2 md:my-0 md:mx-2">
            <div class="w-full h-px md:w-px md:h-4 bg-base-content md:bg-base-300"></div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
