---
import { storyblokEditable } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'
import { Image } from 'astro:assets'
import RichText from './utils/RichText.astro'

const { blok } = Astro.props
---

<div {...storyblokEditable(blok)}>
  <section>
    <div class="relative container">
      <div class="items-center grid grid-cols-1 gap-6 lg:grid-cols-3">
        {
          blok?.image?.filename && (
            <div class="block w-full lg:col-span-2">
              <Image
                src={blok.image.filename}
                alt={blok.image.alt}
                class="shadow rounded-[var(--radius-box)] aspect-[4/3] object-cover object-center w-full"
                priority
                layout="constrained"
                inferSize
              />
            </div>
          )
        }

        <div class="flex flex-col justify-between h-full p-6 rounded-[var(--radius-box)]">
          <div>
            {
              blok.creationDate && (
                <p class="text-sm font-bold uppercase text-accent">
                  <time datetime={blok.creationDate}>{new Date(blok.creationDate).toLocaleDateString()}</time>
                </p>
              )
            }
            <h1 class="text-2xl md:text-3xl lg:text-4xl mt-4 font-semibold lg:text-balance">
              {blok.titreArticle}
            </h1>
            <div class="text-base mt-4 font-medium">
              <RichText content={blok.abstract} />
            </div>
          </div>
          {
            blok.author && (
              <div class="flex flex-shrink-0 mt-6 group">
                <div class="flex items-center gap-2">
                  <div>
                    <p class="text-base font-medium">{blok.author}</p>
                  </div>
                </div>
              </div>
            )
          }
        </div>
      </div>
      {
        blok.body?.map((blok) => {
          return <StoryblokComponent blok={blok} />
        })
      }
    </div>
  </section>
</div>
