---
import { storyblokEditable } from '@storyblok/astro'
import RichText from './utils/RichText.astro'
import { useStoryblokApi } from '@storyblok/astro'
import isPreview from '../utils/isPreview'
import { Image } from 'astro:assets';

const { blok } = Astro.props

const storyblokApi = useStoryblokApi()
const { data } = await storyblokApi.get('cdn/stories/', {
  version: isPreview() ? 'draft' : 'published',
  starts_with: 'blog/',
  is_startpage: false
})
---

<section class="relative z-[1] container" {...storyblokEditable(blok)} data-aos="fade-up">
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-12">
    <div class="max-w-xl lg:text-balance">
      {blok.title && <RichText content={blok.title} />}
      
    </div>
    <div class="relative flex flex-col gap-12 lg:col-span-2">
      {
        data.stories?.map((article, index) => (
          <article class="relative flex flex-col isolate gap-8 lg:flex-row group">
            <div class="relative aspect-[16/9] sm:aspect-[2/1] lg:aspect-square lg:w-64 lg:shrink-0">
              {article.content?.image && article.content?.image.filename && (
                <Image
                  src={article.content.image.filename}
                  alt={article.content.image.alt}
                  class="absolute inset-0 object-cover size-full rounded-[var(--radius-box)]"
                  priority={index === 0 ? true : false}
                  layout="constrained"
                  inferSize
                />
              )}
            </div>
            <div class="flex flex-col justify-between">
              <div>
                <a class="mt-4" href={'/' + article.full_slug}>
                  <div class="text-lg lg:text-2xl font-bold group-hover:text-accent duration-200">
                    <span class="absolute inset-0" />
                    {article.content.titreArticle}
                  </div>
                </a>
                <div class="mt-4 text-base font-light line-clamp-3">
                  {article.content?.abstract && <RichText content={article.content.abstract} />}
                </div>
              </div>
              <div class="relative flex items-center mt-4 gap-x-4">
                <div>
                  {article.content?.author && <h3 class="text-base font-medium text-base-900">{article.content.author}</h3>}
                  <div>
                    {article.content.creationDate && (
                      <span class="sr-only">{new Date(article.content.creationDate).toLocaleDateString()}</span>
                      <p class="text-sm font-bold uppercase text-accent">
                        <time datetime={article.content.creationDate}>{new Date(article.content.creationDate).toLocaleDateString()}</time>
                      </p>
                    )}
                  </div>
                </div>
              </div>
            </div>
          </article>
        ))
      }
    </div>
  </div>
</section>
