---
import { storyblokEditable } from '@storyblok/astro'
import { Image } from 'astro:assets'
import InlineSvg from './utils/InlineSvg.astro'
import Heading from './utils/Heading.astro'
import RichText from './utils/RichText.astro'
let { blok } = Astro.props

blok.icons?.map((icon) => {
  if (icon.image) {
    icon.image.isSvg = false
    if (icon.image?.filename.endsWith('.svg')) {
      icon.image.isSvg = true
    }
  }
})
---

<section class="container" {...storyblokEditable(blok)}>
  {
    blok.content && (
      <div class="mx-auto max-w-2xl mb-8 lg:mb-14 text-center" data-aos="fade-up">
        <RichText content={blok.content} />
      </div>
    )
  }
  <div
    class={`mx-auto max-w-3xl grid ${blok.icons?.length === 3 ? 'grid-cols-3' : blok.icons?.length === 4 ? 'grid-cols-2 md:grid-cols-4' : blok.icons?.length === 5 ? 'grid-cols-2 sm:grid-cols-3 md:grid-cols-5' : 'grid-cols-2 sm:grid-cols-3 lg:grid-cols-6'} gap-6 lg:gap-8`}>
    {
      blok.icons?.map((icon, idx) => (
        <div
          class="text-center flex flex-col justify-center items-center"
          data-aos="fade-down"
          data-aos-duration={500 + idx * 250}>
          {icon?.image && icon.image?.isSvg && <InlineSvg src={icon.image.filename} />}
          {icon?.image && !icon.image.isSvg && icon.image?.filename && (
            <Image
              src={icon.image.filename}
              alt={icon.image.alt}
              layout="constrained"
              class="w-12 rounded-[var(--radius-box)]"
              inferSize
            />
          )}
          <div class="mt-2 sm:mt-6">
            <Heading classlist="sm:text-lg font-semibold" tag={icon.tag} content={icon.title} />
          </div>
        </div>
      ))
    }
  </div>
  <div class="mt-10 sm:mt-20 grid grid-cols-2 md:grid-cols-4 items-center gap-2 sm:gap-6 lg:gap-8">
    {
      blok.images?.map((image, idx) => (
        <div class="w-full h-32" data-aos="fade-up" data-aos-duration={500 + idx * 300}>
          {image?.filename && (
            <Image
              src={image.filename}
              alt={image.alt}
              class="size-full object-cover object-center rounded-[var(--radius-box)]"
              priority={image.loading === 'eager' ? true : false}
              layout="constrained"
              inferSize
            />
          )}
        </div>
      ))
    }
  </div>
</section>
