---
import { storyblokEditable } from '@storyblok/astro'
import { Image } from 'astro:assets'
import RichText from './utils/RichText.astro'

const { blok } = Astro.props

let foregroundColor = blok.foregroundColorInvert ? 'text-base-100' : 'text-base-content'
---

<section {...storyblokEditable(blok)} class="my-0">
  {
    blok.layout === 'center' && !blok.image && (
      <div class="hero min-h-screen">
        <div class="hero-content container text-center">
          <div class={'rich-text ' + foregroundColor} data-aos="zoom-in">
            <RichText content={blok.content} />
          </div>
        </div>
      </div>
    )
  }
  {
    blok.layout === 'center' && blok.image && (
      <div id="hero-bg" class="hero min-h-screen grid">
        {blok.image?.filename && (
          <Image
            src={blok.image.filename}
            alt={blok.image.alt}
            class="max-h-screen object-cover h-full"
            priority={blok.image.loading === 'eager' ? true : false}
            layout="constrained"
            inferSize
          />
        )}
        <div class="hero-overlay" />
        <div class="hero-content container text-center">
          <div class={'rich-text ' + foregroundColor} data-aos="zoom-in">
            <RichText content={blok.content} />
          </div>
        </div>
      </div>
    )
  }
  {
    blok.layout === 'inline' && (
      <div class="hero min-h-screen">
        <div
          class={`hero-content container flex-col ${blok.reversed ? 'lg:flex-row-reverse' : 'lg:flex-row'} justify-center items-center`}>
          {blok.image?.filename && (
            <div data-aos={blok.reversed ? 'fade-left' : 'fade-right'} data-aos-delay="300">
              <Image
                src={blok.image.filename}
                alt={blok.image.alt}
                class="max-w-full sm:max-w-sm md:max-w-md rounded-[var(--radius-box)] shadow-2xl"
                priority={blok.image.loading === 'eager' ? true : false}
                layout="constrained"
                inferSize
              />
            </div>
          )}
          <div class={'rich-text ' + foregroundColor} data-aos={blok.reversed ? 'fade-right' : 'fade-left'}>
            <RichText content={blok.content} />
          </div>
        </div>
      </div>
    )
  }
</section>

<style>
  #hero-bg > * {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
  }
</style>
