---
import { storyblokEditable } from '@storyblok/astro'
import RichText from './utils/RichText.astro'
import { Image } from 'astro:assets'

const { blok } = Astro.props
---

<section class="container" {...storyblokEditable(blok)}>
  <div class="max-w-xl mx-auto text-center lg:text-balance">
    <RichText content={blok.title} />
  </div>
  <ul
    role="list"
    class="mt-12 text-center grid sm:grid-cols-2 md:grid-cols-3 lg:divide-x divide-base-content/50 lg:grid-cols-4 lg:mt-24">
    {
      blok.team?.map((person, index) => (
        <li class="p-8" data-aos="fade-up" data-aos-duration={1000 + index * 500}>
          {person.url && (
            <a href={'/' + person.url?.story?.full_slug}>
              <div class="flex flex-col gap-4">
                {person.image?.filename && (
                  <Image
                    src={person.image.filename}
                    alt={person.image.alt}
                    class="object-cover mx-auto rounded-[var(--radius-box)] size-full lg:size-36"
                    priority={person.image.loading === 'eager' ? true : false}
                    layout="constrained"
                    inferSize
                  />
                )}
                {(person.nom || person.fonction) && (
                  <footer class="mt-6">
                    {person.nom && <div class="font-semibold">{person.nom}</div>}
                    {person.fonction && <div class="text-sm text-base-content/95">{person.fonction}</div>}
                  </footer>
                )}
              </div>
            </a>
          )}
          {!person.url && (
            <div class="flex flex-col gap-4">
              {person.image?.filename && (
                <Image
                  src={person.image.filename}
                  alt={person.image.alt}
                  class="object-cover mx-auto rounded-[var(--radius-box)] size-full lg:size-36"
                  priority={person.image.loading === 'eager' ? true : false}
                  layout="constrained"
                  inferSize
                />
              )}
              {(person.nom || person.fonction) && (
                <footer class="mt-6">
                  {person.nom && <div class="font-semibold">{person.nom}</div>}
                  {person.fonction && <div class="text-sm text-base-content/95">{person.fonction}</div>}
                </footer>
              )}
            </div>
          )}
        </li>
      ))
    }
  </ul>
</section>
